.ui.small.header {{head}}
.ui.list
  .item(*ngFor='let item of items')
    span.yo([ngClass]='item.dataName') {{item.text}}
  .item(*ngIf='meaning')
    .item-head 释义：
    .item-text
      ng-template([ngIf]='word!==meaning.word') ({{meaning.word}}) &nbsp;
      | {{meaning.text}}
  .item(*ngIf='note')
    .item-head 注：
    .item-text.pre-wrap {{note}}
