.ui.small.header {{head}}
.ui.list(*ngIf='annos')
  .item(*ngFor='let item of annos.items')
    span.yo([ngClass]='item.dataName') {{item.text}}
  .item(*ngIf='annos.meaning')
    .item-head 释义：
    .item-text
      ng-template([ngIf]='annos.word!==annos.meaning.word') ({{annos.meaning.word}}) &nbsp;
      | {{annos.meaning.text}}
  .item(*ngIf='annos.note')
    .item-head 注：
    .item-text.pre-wrap {{annos.note}}
