
.ui.horizontal.link.list.user-vocabulary {
  display: block;
}

.ui.horizontal.link.list.user-vocabulary .item {
  font-size: 0.9rem;
}

.user-vocabulary .word-add-on {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
}

.ui.label.uwf-1, .para-text [data-uwf='1'] {
  color: rgba(205, 92, 92, 1);
}

.ui.label.uwf-2, .para-text [data-uwf='2'] {
  color: rgba(0, 0, 139, 0.8);
}

.ui.label.uwf-3, .para-text [data-uwf='3'] {
  color: rgba(0, 128, 0, 0.7);
}

.para-text [data-uwf='0'] {
  color: rgba(64, 0, 0, 0.7);
}

body.uwf-disabled .para-text [data-uwf] {
  color: inherit;
}
