.ui.container
  .ui.secondary.small.menu
    .right.menu
      a.item(*ngIf='!currentUser', (click)='openLoginDialog()', href='javascript:') （未登录）
      .item(*ngIf='currentUser')
        img.ui.avatar.image(*ngIf='currentUser.avatarSetting&&currentUser.avatarSetting.imgUrl',
        [src]='avatarsBase+"/"+currentUser.avatarSetting.imgUrl')
        | {{currentUser.nickName}} &nbsp;&nbsp;
        a(*ngIf='currentUser', (click)='openLoginDialog()', href='javascript:') 切换

  .ui.stackable.cards(*ngIf='book')
    .ui.centered.card
      .content
        img.ui.image(*ngIf='book.image', [src]='bookImagesBase+"/"+book.image.file')
        img.ui.image.disabled(*ngIf='!book.image', [src]='bookImageNotSet')
        .book-title
          .enname {{book.name}}
          .zhname(*ngIf='book.zhName') {{book.zhName}}
      .extra.content
        | 代号 &nbsp;
        span.book-code {{book.code}}
        a.right.floated((click)='showDetail(book)', href='javascript:') 详情

  .ui.hidden.clearing.divider

  .ui.small.header
    .ui.right.floated.small.header
      sui-checkbox([(ngModel)]='showZh') 中文

    | 章节

  .ui.celled.list(*ngIf='book')
    .item(*ngFor='let chap of book.chaps; trackBy: chapTracker')
      .right.floated.header(*ngIf='chap.status!=="R"')
        .ui.mini.left.pointing.basic.label {{statusNames[chap.status]}}
      a([routerLink]="['/chaps', chap._id]")
        .pre-wrap {{chap.name}}
        .zhname.pre-wrap(*ngIf="showZh && chap.zhName") {{chap.zhName}}

  p &nbsp;
