.ui.container
  .ui.secondary.small.menu
    .right.menu
      a.item(*ngIf='!currentUser', (click)='openLoginDialog()') （未登录）
      .item(*ngIf='currentUser')
        img.ui.avatar.image(*ngIf='currentUser.avatarSetting&&currentUser.avatarSetting.imgUrl',
        [src]='avatarsBase+"/"+currentUser.avatarSetting.imgUrl')
        | {{currentUser.nickName}}
        a(*ngIf='currentUser', (click)='openLoginDialog()') &nbsp;&nbsp;切换
        //a(*ngIf='currentUser', (click)='logout()') &nbsp;&nbsp;退出

  .ui.header
    .ui.right.floated.header
      sui-checkbox([(ngModel)]='showZh') 中文
    | 图书

  table.ui.striped.table
    thead
      tr
        th
        th 代号
        th 书名
        th
    tbody
      tr(*ngFor='let book of books; trackBy: bookTracker')
        td
          img.ui.tiny.image(*ngIf='book.image', [src]='bookImagesBase+"/"+book.image.file')
          img.ui.tiny.image.disabled(*ngIf='!book.image', [src]='bookImageNotSet')
        td {{book.code}}
        td
          a([routerLink]="['/books', book._id]")
            .enname {{book.name}}
            .zhname(*ngIf='showZh && book.zhName') {{book.zhName}}
        td.right.aligned
          a((click)='showDetail(book)', href='javascript:') 详情
      tr(*ngIf='!books||books.length===0')
        td(colspan='4') No Results.

  p &nbsp;
