.ui.container(*ngIf='book')
  p &nbsp;
  .ui.content
    .ui.right.floated.sub.header
      button.ui.tiny.button((click)='showDetail()') 详情
    .name-author
      .book-name {{book.name}}
      .author(*ngIf='book.author')
        span.author-by by
        | {{book.author}}
    .zh-name-author(*ngIf='book.zhName')
      .book-name {{book.zhName}}
      .author(*ngIf='book.zhAuthor')
        span.author-by by
        | {{book.zhAuthor}}
    .props
      .prop
        span.prop-name 代号
        | {{book.code}}
      .prop
        span.prop-name 分类
        | {{categoryNames[book.category]}}

  .ui.hidden.clearing.divider

  .ui.small.header
    .ui.right.floated.small.header
      sui-checkbox([(ngModel)]='showZh') 中文

    | 章节

  .ui.celled.list(*ngIf='book')
    .item(*ngFor='let chap of book.chaps; trackBy: chapTracker')
      .right.floated.header(*ngIf='chap.status!=="R"')
        .ui.mini.left.pointing.basic.label {{statusNames[chap.status]}}
      a([routerLink]="['/chaps', chap._id]")
        .pre-wrap {{chap.name}}
        .zhname.pre-wrap(*ngIf="showZh && chap.zhName") {{chap.zhName}}

  p &nbsp;
