.book-name, .author {
  display: inline-block;
}

.book-name {
  font-weight: bold;
}

.author {
  margin-left: 0.6em;
  display: inline-block;
  float: right;
}

.author .author-by {
  font-size: 0.9em;
  color: rgba(158, 158, 158, 0.8);
  padding-right: 0.3em;
}

.prop {
  margin-right: 0.8em;
  display: inline-block;
}

.prop-name {
  font-size: 0.9em;
  color: rgba(128, 128, 128, 0.9);
  margin-right: 0.3em;
}

.ui.table tr td:first-child {
  white-space: nowrap;
}

.ui.table tr td:nth-child(2) {
  width: 96%;
}
