.ui.content
  .ui.unstackable.definition.table(*ngIf='book')
    tr
      td 英文
      td
        .book-name {{book.name}}
        .author(*ngIf='book.author')
          span.author-by by
          | {{book.author}}
    tr
      td 中文
      td
        ng-template([ngIf]='book.zhName')
          .book-name {{book.zhName}}
          .author(*ngIf='book.zhAuthor')
            span.author-by by
            | {{book.zhAuthor}}
    tr
      td 基本
      td.props
        .prop
          span.prop-name 代号
          | {{book.code}}
        .prop
          span.prop-name 类别
          | {{book.categoryName||categoryNames[book.category]}}
        .prop
          span.prop-name 状态
          | {{statusNames[book.status]}}
        .prop
          span.prop-name 章节
          | {{book.chapsComplete? '完整':'录入中'}}
    tr
      td 简介
      td {{book.introduction}}
    //tr(*ngIf='!book.isPrivate')
      td 定价
      td
        //| {{book.isFree? '免费':book.price}}
        //label 标签
        | {{book.priceLabel}}
    tr
      td 标签
      td {{book.tags}}
    tr
      td 主编辑
      td {{book.chiefEditorName}}

.actions
  button.ui.tiny.button((click)="close()", autofocus='') 关闭
