#footer.ui.vertical.segment
  .ui.container
    .ui.mini.horizontal.list
      .item 公众号
      .link.item yuwen-reading
    .ui.right.floated.mini.horizontal.list
      //.item 郁文阅读
      .item app
      a.link.item([href]="appManualUrl") 使用说明
      a.link.item([href]="appDownloadUrl") 安卓下载
  //.ui.center.aligned.container
    | 京ICP备19021873号
