#footer.ui.vertical.segment
  .ui.container
    .ui.right.floated.mini.horizontal.list
      a.link.item([href]='wxQrCodeUrl') 公众号
      a.link.item([href]='appHomePage') APP
      //a.link.item([href]="appManualUrl") 使用说明
      //a.link.item(*ngIf='appDownloadUrl', [href]="appDownloadUrl") 安卓下载
  //.ui.center.aligned.container
    | 京ICP备19021873号
