.ui.small.header
  .ui.right.floated.phonetics.tiny.header(*ngIf='entry&&entry.phonetics')
    label.ui.small.label 英
    span {{entry.phonetics['UK']}}
    label.ui.small.label 美
    span {{entry.phonetics['US']}}
  | {{word}}
.ui.list(*ngIf='entry')
  .ui.item(*ngFor='let item of entry.simple')
    | {{item.pos}} {{item.exp}}
