.ui.horizontal.link.list.user-vocabulary
  .item(*ngIf='wordCategory')
    | 基础词汇
    .ui.mini.label {{wordCategory.name}}
  ng-template([ngIf]='userWord')
    .item
      .ui.mini.label([ngClass]='"uwf-"+userWord.familiarity') {{userWord.familiarity | wordFamiliarity}}
      .ui.icon.mini.buttons
        .ui.button([ngClass]='{disabled:userWord.familiarity===3}', (click)='familiarityUp()')
          i.double.angle.up.icon
        .ui.button([ngClass]='{disabled:userWord.familiarity===1}', (click)='familiarityDown()')
          i.double.angle.down.icon
    .item
      .word-add-on 加入于 {{userWord | createdDateString}}
    a.item((click)='removeUserWord()') 移除
  .item(*ngIf='!userWord')
    .ui.mini.button((click)='addToVocabulary()') 加入
