.para-split-header.header {
  font-size: 1.3rem !important;
}

.para-split-header .tip {
  font-size: 1.1rem !important;
}

.splitted-para.row {
  padding: 0 !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.splitted-para.row .column {
  padding: 0 !important;
}

.splitted-para textarea {
  border-radius: initial !important;
  padding: 0.5rem !important;
  border-color: #85B7D9 !important;
  border-radius: 0.28rem !important;
}


.splitted-para .rowno {
}

.splitted-para.row.fix .para-text {
  color: rgba(0, 0, 0, 0.6);
}

.splitted-para.row .fixit {
  padding: 0.5rem;
}

.splitted-para.row .fixit sui-checkbox label {
  font-weight: bold;
}

.splitted-para.row .para-text {
  white-space: pre-wrap;
  flex: 1;
  padding: 0.5rem !important;
  border: 1px solid white !important;
}

.splitted-para.row .para-text :before,
.splitted-para.row .para-text :after {
  display: none;
}
