.sentences-align-header.header {
  font-size: 1.3rem !important;
}

.sentences-align-header .tip {
  font-size: 1.1rem !important;
}

.ui.grid > .aligned-sentence.row {
  padding: 0.5em 0 !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.aligned-sentence.row .column {
  padding: 0 !important;
}

.aligned-sentence.row .ui.button {
  margin-top: 3px;
  margin-left: 3px;
}

.ui.form textarea.content-text, .ui.form textarea.trans-text {
  height: 100%;
  min-height: 3em;
}

.aligned-sentence .rowno {
}

.aligned-sentence.row.fix .sentence {
  color: rgba(0, 0, 0, 0.6);
}

.aligned-sentence.row .fixit {
  padding: 0.5rem;
}

.aligned-sentence.row .fixit sui-checkbox label {
  font-weight: bold;
}

.aligned-sentence.row .sentence {
  white-space: pre-wrap;
  flex: 1;
}

.aligned-sentence.row .sentence :before,
.aligned-sentence.row .sentence :after {
  display: none;
}
