.para-text .word.wf1 {
  color: indianred;
}

.para-text .word.wf2 {
  color: darkcyan;
}

.para-text .word.wf3 {
  color: green;
}

.para-text .word.beyond {
  color: darkblue;
}

body.newword-disabled .para-text .word {
  color: inherit;
}
