//.ui.small.blue.header
  | 登录

.ui.content.tiny.form.login
  .ui.small.message(*ngIf='loginMessage') {{loginMessage}}
  .field
    input(type="text", #name="", placeholder="账号")
  .field
    input(type="password", #pass="", placeholder="密码")

.actions
  .ui.tiny.button((click)='cancel()') 取消
  .ui.tiny.primary.button((click)='login(name.value, pass.value)') 登录
