
.pushable.reader {
  height: initial;
}

.pushable.reader > .pusher.dimmed:after {
  position: fixed;
}

.ui.left.sidebar.chap-list {
  width: 260px;
  padding: 1em 0;
}

.chap-list .item {
  line-height: 1.3;
}

.chap-list .item .zhname {
  margin-top: 0.3em;
}

.fit-top-menu {
  margin-top: 39px;
}

.fit-bottom-menu {
  margin-bottom: 40px;
}

.ui.menu .item.chap-name {
  display: initial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.ui.container.chap-content {
  /*height: 100%;*/
  /*overflow: auto;*/
  margin-left: .5em !important;
  margin-right: .5em !important;
}

.ui.bottom.fixed.menu .item {
  font-weight: bold;
}

.ui.bottom.fixed.menu .item.active {
  color: rgb(9, 187, 7);
}

.ui.bottom.fixed.menu .item.active.disabled {
  color: rgba(9, 187, 7, 0.5);
}

.item.paragraph {
  margin: 0 !important;
  flex-direction: row !important;
}

.para-no {
  /*min-width: 1.2em;*/
  padding-top: 0.6em;
  margin-right: 0.6em;
  align-self: center;
}

.para-no .value {
  text-align: right;
  font-size: 1.1rem !important;
}

.paragraph .para-no {
  cursor: pointer;
}

.prev-next-nav .item.next-nav {
  margin-top: 0.8em;
}

.prev-next-nav .item > i.icon {
   display: initial;
}

#dictPopup {
  min-width: 200px;
  max-width: 400px;
}

#notePopup.ui.form .field {
  margin-bottom: 0.5em;
}

#notePopup textarea.note-textarea {
  height: 150px;
  width: 250px;
  padding: 0.3em 0.5em
}
