.ui.content

  .ui.list.helper
    .item
      .ui.blue.small.header 概要
      .list.helper-group
        .item
          i.right.caret.icon
          | "郁文阅读"是【以文本为中心】的英语学习产品
        .item
          i.right.caret.icon
          | 支持中英分句对照、个性化的词汇标记、内容标注
        .item
          i.right.caret.icon
          | 登录后可以维护生词、标记生词
        .item
          i.right.caret.icon
          | 此为"郁文阅读"微信版，目前仅实现有限功能
        .item
          i.right.caret.icon
          | 安卓app可从底部的链接下载（须用浏览器打开）
    .item
      .ui.blue.small.header 顶栏
      .list.helper-group
        .item 显示当前章节标题
        .item
          i.content.icon
          | 点击打开边栏，显示章节列表
    .item
      .ui.blue.small.header 底栏
      .list.helper-group
        .item
          i.ul.list.icon
          | 打开边栏，显示最近生词、查词历史
        .item
          i.search.icon
          | 查词开关，打开后，点一个词可以查词典
        .item
          i.pointing.up.icon
          | 生词开关，切换是否标记个人生词
        .item
          i.underline.icon
          | 标注开关，切换是否显示标注（如果有）
        .item
          i.translate.icon
          | 中文开关，切换是否显示中文
    .item
      .ui.blue.small.header 更多操作
      .list.helper-group
        .item
          | 点右下角的
          i.ellipsis.vertical.icon
          | 按钮，显示更多操作
        .item
          i.columns.icon
          | 左右对照开关，切换中英左右/上下对照
        .item
          i.angle.double.up.icon
          i.angle.double.down.icon
          | 跳到开头/末尾
        .item
          i.map.marker.alternate.icon
          | 跳到内容中某个位置（0-100%）
        .item
          i.adjust.icon
          | 设置背景颜色
        .item
          i.help.icon
          | 显示本帮助信息
        .item
          i.circle.user.icon
          | 最底部显示当前用户，或"（未登录）"
